/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* UNIVERSAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    margin: 8px;
}

h2 {
    font-size: 1.8rem;
}

/* HIDE CLASS */
.hide {
    display: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(90deg, rgb(91, 91, 184), rgb(0, 0, 99));
}

header h1 {
    margin: 0.6rem 0 0.6rem 20%;
    font-weight: 700;
}

/* MAIN CONTAINER */
.main-container {
    width: 100%;
    display: flex;
}

/* ASIDE */
aside {
    width: 20%;
    padding: 0 0.5rem;
}

aside h2 {
    margin: 0.5rem 0;
}

aside input {
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 0.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    outline: none;
}

aside button {
    width: 100%;
    cursor: pointer;
    background-color: rgb(118, 153, 235);
    color: rgb(221, 221, 221);
    padding: 0.5rem 0;
    border-radius: 0.2rem;
    border: none;
    margin: 1rem 0;
    font-size: 0.9rem;
    transition: 0.15s ease-out;
}

aside button:hover {
    color: #fff;
}

aside button:active {
    transform: scale(0.98);
}

.searched-cities button {
    background-color: rgb(173, 173, 173);
    color: #000;
    margin: 1rem 0 0;
}

/* SECTION */
section {
    width: 70%;
    margin-top: 1rem;
    margin-left: 1rem;
}

/* .CURRENT-WEATHER */
.current-weather-container {
    border: 1px solid #000;
    padding: 0rem 0.3rem;
}

.current-weather-header {
    display: flex;
    align-items: center;
}

.current-weather p {
    margin: 1.3rem 0;
}

#current-date {
    margin-left: 0.1rem;
}

#current-icon img {
    width: 60px;
    height: 60px;
}

/* .NEXT-FIVE-DAYS */
.next-five-days-container {
    width: 100%;
}

.next-five-days-container h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.next-five-days {
    display: flex;
    justify-content: space-between;
}

.day {
    color: #fff;
    background-color: rgb(49, 53, 82);
    padding: 0.3rem 0.3rem 0.5rem;
    width: 18%;
}

.day p {
    margin: 1rem 0;
}

#day-icon {
    margin: 1rem 0 0 1rem;
    font-size: 1.3rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 777px) {
    body {
        margin: 0;
    }

    header h1 {
        margin: 0.6rem 0 0.6rem 0;
    }

    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    aside {
        width: 60%;
    }

    aside h2 {
        margin-top: 1rem;
        text-align: center;
    }

    aside .searched-cities {
        display: none;
    }

    aside hr {
        display: none;
    }

    section {
        margin: 1rem 0 3rem;
        width: 90%;
    }
}

@media screen and (max-width: 632px) {
    .current-weather-container {
        text-align: center;
    }

    .next-five-days-container h2 {
        text-align: center;
    }

    .next-five-days {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .day {
        width: 80%;
    }
}

@media screen and (max-width: 410px) {
    h2 {
        font-size: 1.3rem;
    }
}